html {
    --background: #262d31;
    --translucent: #00000034;
    --translucent-light: #00000015;
    --contrast-translucent: #ffffff22;
    --contrast-translucent-light: #ffffff05;
    --theme-primary: #144949;
    --theme-primary-darker: #133f3f;
    --theme-secondary: #0f3636;
    --text: #a6a8aa;
}

:root {
    --transition: all 0.3s cubic-bezier(0.34, 0, 0.39, 1);
    --transition-fast: all 0.2s cubic-bezier(0.37, 0, 0.31, 1);
    --font-sub: 100 14px "Arial";
    --font-title: 300 18px "Roboto";
    --letter-spacing-title: 1.5px;
    --letter-spacing-sub: 1.2px;
}

html {
    margin: 0;
}

body {
    background-color: var(--background);
    padding: 15px;
    margin: 0px;
    user-select: none;
    transition: var(--transition);
}
body * {
    transition: var(--transition);
    text-decoration: none;
}

div {
    letter-spacing: var(--letter-spacing-title);
}

#title {
    color: var(--text);
    font: 300 20px "Roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
}

.group {
    width: 220px;
    border-radius: 21px;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    overflow: hidden;
    font: var(--font-title);
    color: var(--text);
    text-transform: uppercase;
    animation: onOpenMain 0.3s ease-out;
    /* transition: var(--transition); */
    border-bottom: 2px var(--translucent-light);
}

.group:hover {
    background-color: var(--contrast-translucent-light);
    font-weight: 400;
}


.fieldWrap {
    max-height: 320px;
    border-radius: 21px;
}
.group.closed .fieldWrap {
    max-height: 0px;
}

.field {
    color: var(--text);
    border-radius: 21px;
    /* width: 200px; */
    /* margin: 5px auto; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-sub);
    letter-spacing: var(--letter-spacing-sub);
    text-transform: initial;
    flex: 0px;
    /* transition: var(--transition); */
    animation: onOpenSection 0.3s ease-out;
}

.switch, .switch::before, .switch::after {
    transition: var(--transition-fast);
}

.switch {
    display: flex;
    width: 48px;
    cursor: pointer;
    border-radius: 14px;
    /* transition: var(--transition); */
    background-color: var(--contrast-translucent);
}

.switch:not(.enabled)::before, .switch.enabled::after {
    width: 0px;
    content: "";
}

.switch.enabled::before, .switch:not(.enabled)::after {
    width: 50px;
    content: "";
    transition-delay: 100ms;
}

.switch:not(.enabled):active::after, .switch.enabled:active::before {
    width: 30px;
}

.knob {
    cursor: pointer;
    width: 100%;
    height: 20px;
    margin: 4px;
    border-radius: 30px;
    background-color: var(--translucent);
    transition: var(--transition-fast);
}

.switch:hover > .knob {
    opacity: 0.8;
    padding: 1px;
    margin: 3px;
}

.switch.enabled {
    background-color: var(--theme-primary);
}

.mainButton {
    border-radius: 21px;
    /* width: 200px; */
    margin-top: 10px;
    padding: 10px;
    color: var(--text);
    background-color: var(--theme-primary-darker);
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font: var(--font-sub);
    transition: var(--transition);
    animation: fadeInScaleUp 0.3s ease-out;
    letter-spacing: var(--letter-spacing-title);
}

.mainButton:hover {
    cursor: pointer;
    background-color: var(--theme-primary);
}
.mainButton:active {
    background-color: var(--theme-secondary);
    letter-spacing: 0.9px;
}

.selectorWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.selectorWrap::after {
    content: "";
    flex: auto;
}

.themeButton {
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 7px;
    border-radius: 7px;
    opacity: 0.8;
}

.themeButton[active="false"]:hover {
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}

.themeButton[active="true"]:active {
    opacity: 0.6;
}

.themeButton[active="true"] {
    box-shadow: 0 0 0 3px var(--theme-primary);
}

/* popup animatino */
@keyframes onOpenMain {
    0% {
        transform: translateY(10px);
        /* padding: 8px 8px 8px 14px; */
    }
    100% {
        /* padding: 10px; */
    }
}

@keyframes onOpenSection {
    from{
        color: #00000000;
        left: 100px;
    }
    to {
        color: var(--text);
    }
}

@keyframes dropDown {
    from{
        color: #00000000;
        left: 100px;
    }
    to {
        color: var(--text);
    }
}

@keyframes fadeInScaleUp {
    0%{
        transform: scale(0.9);
        opacity: 0;
    }
}