.dark {
    --background: #262d31;
    --background-Dark: #13181b;
    --hover-green: #144949;
    --active-green: #0d2e2e;
    --colour-Green: #0f3636;
    --text: #a6a8aa;
    --greyLight: #33383b;
    --greyDark: #1e2428;
}

.light {
    --background: #c6dce9;
    --background-Dark: #6f7b832e;
    --hover-green: #28bdc0;
    --active-green: #24aaac;
    --colour-Green: #56dfda;
    --text: #354f61;
    --greyLight: #a2b0af;
    --greyDark: #d4ecfc;
}

:root {
    --transition: all 0.2s cubic-bezier(0.34, 0.03, 0.39, 1.01);
    --font-sub: lighter 14px "Helvetica";
    --font-title: lighter 16px "Helvetica";
    --letter-spacing-title: 1px;
    --letter-spacing-sub: 1.2px;
}

html {
    margin: 0;
}

body {
    background-color: var(--greyDark);
    padding: 0px;
    user-select: none;
    transition: var(--transition);
}
body * {
    transition: var(--transition);
}

div {
    letter-spacing: var(--letter-spacing-title);
}

.field {
    color: var(--text);
    border-radius: 21px;
    width: 200px;
    /* margin: 5px auto; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-sub);
    letter-spacing: var(--letter-spacing-sub);
    text-transform: initial;
    flex: 0px;
    /* transition: var(--transition); */
    animation: onOpenSection 0.3s ease-out;
}

.group{
    animation: onOpenMain 0.3s ease-out;
    color: var(--text);
    border-radius: 21px;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    font: var(--font-title);
    text-transform: uppercase;
    /* transition: var(--transition); */
    border-bottom: 2px var(--background-Dark);

}

.group:hover {
    background-color: var(--background-Dark);
}


div:hover {
    letter-spacing: calc(var(--letter-spacing-sub) + 0.2px);
}

.switch {
    display: flex;
    width: 40px;
    padding: 4px;
    cursor: pointer;
    border-radius: 14px;
    /* transition: var(--transition); */
}

.knob {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: var(--transition);
}

.switch {
    background-color: var(--greyLight);
}

.switch > .knob {
    background-color: var(--greyDark);
    position: relative;
    left: 0px;
}

.switch.enabled {
    background-color: var(--hover-green);
}

.switch.enabled > .knob {
    background-color: var(--colour-Green);
    position: relative;
    left: 20px;
}

.button {
    border-radius: 21px;
    /* width: 200px; */
    margin: 5px 5px 10px 5px;
    padding: 10px;
    color: var(--text);
    background-color: var(--colour-Green);
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font: var(--font-sub);
    transition: var(--transition);
    animation: fadeInScaleUp 0.3s ease-out;
    letter-spacing: var(--letter-spacing-title);
}

.button:hover {
    cursor: pointer;
    background-color: var(--hover-green);
}
.button:active {
    background-color: var(--active-green);
    letter-spacing: 0.9px;
}

/* popup animatino */
@keyframes onOpenMain {
    0% {
        transform: translateY(10px);
        /* padding: 8px 8px 8px 14px; */
    }
    100% {
        /* padding: 10px; */
    }
}

@keyframes onOpenSection {
    from{
        color: #00000000;
        left: 100px;
    }
    to {
        color: var(--text);
    }
}

@keyframes dropDown {
    from{
        color: #00000000;
        left: 100px;
    }
    to {
        color: var(--text);
    }
}

@keyframes fadeInScaleUp {
    0%{
        transform: scale(0.9);
        opacity: 0;
    }
}