:root {
	--test-0: #008069;
	--test-1: 0,128,105;
	--test-2: #eae6df;
	--test-3: 234,230,223;
	--test-4: #d1d7db;
	--test-5: 209,215,219;
	--test-6: #00a884;
	--test-7: 0,168,132;
	--test-8: 11,20,26;
	--test-9: hsla(0,0%,100%,0.6);
	--test-10: 255,255,255;
	--test-11: #9c8d8d;
	--test-12: 156,141,141;
	--test-13: #6f8171;
	--test-14: 111,129,113;
	--test-15: #4ada80;
	--test-16: 74,218,128;
	--test-17: #8da78f;
	--test-18: 141,167,143;
	--test-19: #30b0e8;
	--test-20: 48,176,232;
	--test-21: #29afdf;
	--test-22: 41,175,223;
	--test-23: #8696a0;
	--test-24: 134,150,160;
	--test-25: #e7e8e9;
	--test-26: 231,232,233;
	--test-27: #c5e6c1;
	--test-28: 197,230,193;
	--test-29: #e9edef;
	--test-30: 233,237,239;
	--test-31: #fff;
	--test-32: #aebac1;
	--test-33: 174,186,193;
	--test-34: #d9fdd3;
	--test-35: 217,253,211;
	--test-36: #acfcac;
	--test-37: 172,252,172;
	--test-38: #c4f9c3;
	--test-39: 196,249,195;
	--test-40: #a0f9a4;
	--test-41: 160,249,164;
	--test-42: #dfe5e7;
	--test-43: 223,229,231;
	--test-44: #54656f;
	--test-45: 84,101,111;
	--test-46: #f0f2f5;
	--test-47: 240,242,245;
	--test-48: #f5f6f6;
	--test-49: 245,246,246;
	--test-50: #e6e6e6;
	--test-51: 230,230,230;
	--test-52: 17,27,33;
	--test-53: #d9d9d9;
	--test-54: 217,217,217;
	--test-55: #667781;
	--test-56: 102,119,129;
	--test-57: #111b21;
	--test-58: #53bdeb;
	--test-59: 83,189,235;
	--test-60: #202c33;
	--test-61: 32,44,51;
	--test-62: #f15c6d;
	--test-63: 241,92,109;
	--test-64: #ffd279;
	--test-65: 255,210,121;
	--test-66: #e1fef2;
	--test-67: 225,254,242;
	--test-68: #d8e9f2;
	--test-69: 216,233,242;
	--test-70: #3a5564;
	--test-71: 58,85,100;
	--test-72: #caecfa;
	--test-73: 202,236,250;
	--test-74: #009de2;
	--test-75: 0,157,226;
	--test-76: #3b4a54;
	--test-77: 59,74,84;
	--test-78: #017561;
	--test-79: 1,117,97;
	--test-80: #f3f5f6;
	--test-81: 243,245,246;
	--test-82: #b2f5da;
	--test-83: 178,245,218;
	--test-84: #7ae3c3;
	--test-85: 122,227,195;
	--test-86: #1b8748;
	--test-87: 27,135,72;
	--test-88: #e7fce3;
	--test-89: 231,252,227;
	--test-90: #d5fded;
	--test-91: 213,253,237;
	--test-92: #d1f1fe;
	--test-93: 209,241,254;
	--test-94: #ccebf9;
	--test-95: 204,235,249;
	--test-96: #efeae2;
	--test-97: 239,234,226;
	--test-98: #eaf2f5;
	--test-99: 234,242,245;
	--test-100: #ea0038;
	--test-101: 234,0,56;
	--test-102: #dee0e3;
	--test-103: 222,224,227;
	--test-104: #e7e9ec;
	--test-105: 231,233,236;
	--test-106: #f7f8fa;
	--test-107: 247,248,250;
	--test-108: 6,207,156;
	--test-109: #f0f1f1;
	--test-110: 240,241,241;
	--test-111: #888d90;
	--test-112: 136,141,144;
	--test-113: #25d366;
	--test-114: 37,211,102;
	--test-115: 78,100,112;
	--test-116: 60,60,67;
	--test-117: #027eb5;
	--test-118: 2,126,181;
	--test-119: hsla(0,0%,100%,0.9);
	--test-120: 255,0,31;
	--test-121: #1c313f;
	--test-122: 28,49,63;
	--test-123: #dfe3e7;
	--test-124: 223,227,231;
	--test-125: #bbc4cb;
	--test-126: 187,196,203;
	--test-127: hsla(0,0%,100%,0.96);
	--test-128: #9feab5;
	--test-129: 159,234,181;
	--test-130: hsla(0,0%,100%,0.85);
	--test-131: #ffeecd;
	--test-132: 255,238,205;
	--test-133: #cbf2ee;
	--test-134: 203,242,238;
	--test-135: #d1f4cc;
	--test-136: 209,244,204;
	--test-137: #c4eec8;
	--test-138: 196,238,200;
	--test-139: #0b141a;
	--test-140: #007661;
	--test-141: 0,118,97;
	--test-142: #1fa855;
	--test-143: 31,168,85;
	--test-144: 79,79,79;
	--test-145: #41525d;
	--test-146: 65,82,93;
	--test-147: #ecf1f3;
	--test-148: 236,241,243;
	--test-149: #d8dde5;
	--test-150: 216,221,229;
	--test-151: #00c298;
	--test-152: 0,194,152;
	--test-153: #fff7e5;
	--test-154: 255,247,229;
	--test-155: #ffbc38;
	--test-156: 255,188,56;
	--test-157: #ffe4af;
	--test-158: 255,228,175;
	--test-159: #4fc3f7;
	--test-160: 79,195,247;
	--test-161: 229,57,53;
	--test-162: 9,210,97;
	--test-163: #6f828c;
	--test-164: 111,130,140;
	--test-165: #ff3b30;
	--test-166: 255,59,48;
	--test-167: #ff4e44;
	--test-168: 255,78,68;
	--test-169: #00bc94;
	--test-170: 0,188,148;
	--test-171: #09d261;
	--test-172: #009688;
	--test-173: 0,150,136;
	--test-174: #ffad1f;
	--test-175: 255,173,31;
	--test-176: #ced0d1;
	--test-177: 206,208,209;
	--test-178: #b0ceae;
	--test-179: 176,206,174;
	--test-180: #858a8d;
	--test-181: 133,138,141;
	--test-182: #728977;
	--test-183: 114,137,119;
	--test-184: #d3ede6;
	--test-185: 211,237,230;
	--test-186: #1fc4b1;
	--test-187: 31,196,177;
	--test-188: #f0faf7;
	--test-189: 240,250,247;
	--test-190: #b8bbbc;
	--test-191: 184,187,188;
	--test-192: #9db99e;
	--test-193: 157,185,158;
	--test-194: #bbc5cb;
	--test-195: 187,197,203;
	--test-196: #30373c;
	--test-197: 48,55,60;
	--test-198: hsla(0,0%,100%,0.55);
	--test-199: #b6b9ba;
	--test-200: 182,185,186;
	--test-201: #bbbec4;
	--test-202: 187,190,196;
	--test-203: #cacaca;
	--test-204: 202,202,202;
	--test-205: hsla(0,0%,100%,0.95);
	--test-206: #009477;
	--test-207: 0,148,119;
	--test-208: #60aea1;
	--test-209: 96,174,161;
	--test-210: hsla(0,0%,100%,0.25);
	--test-211: #2a2f32;
	--test-212: 42,47,50;
	--test-213: #2ec452;
	--test-214: 46,196,82;
	--test-215: #242424;
	--test-216: 36,36,36;
	--test-217: #2d2d2d;
	--test-218: 45,45,45;
	--test-219: #222;
	--test-220: 34,34,34;
	--test-221: 0,0,0;
	--test-222: #f2f2f7;
	--test-223: 242,242,247;
	--test-224: #ececec;
	--test-225: 236,236,236;
	--test-226: #018579;
	--test-227: 1,133,121;
	--test-228: #b2b2b2;
	--test-229: 178,178,178;
	--test-230: #b2dbd7;
	--test-231: 178,219,215;
	--test-232: hsla(0,0%,100%,0.5);
	--test-233: #53a69b;
	--test-234: 83,166,155;
}

body {
	--active-tab-marker: var(--test-0);
	--active-tab-marker-rgb: var(--test-1);
	--app-background: var(--test-2);
	--app-background-rgb: var(--test-3);
	--app-background-deeper: var(--test-4);
	--app-background-deeper-rgb: var(--test-5);
	--app-background-stripe: var(--test-6);
	--app-background-stripe-rgb: var(--test-7);
	--attach-media-drop-border: rgba(var(--test-8),0.3);
	--attach-media-drop-border-rgb: var(--test-8);
	--attach-media-drop-overlay: var(--test-9);
	--attach-media-drop-overlay-rgb: var(--test-10);
	--audio-control-incoming: var(--test-11);
	--audio-control-incoming-rgb: var(--test-12);
	--audio-control-outgoing: var(--test-13);
	--audio-control-outgoing-rgb: var(--test-14);
	--audio-progress-incoming: var(--test-15);
	--audio-progress-incoming-rgb: var(--test-16);
	--audio-progress-outgoing: var(--test-17);
	--audio-progress-outgoing-rgb: var(--test-18);
	--audio-progress-played-incoming: var(--test-19);
	--audio-progress-played-incoming-rgb: var(--test-20);
	--audio-progress-played-outgoing: var(--test-21);
	--audio-progress-played-outgoing-rgb: var(--test-22);
	--audio-progress-metadata: var(--test-23);
	--audio-progress-metadata-rgb: var(--test-24);
	--audio-track-incoming: var(--test-25);
	--audio-track-incoming-rgb: var(--test-26);
	--audio-track-outgoing: var(--test-27);
	--audio-track-outgoing-rgb: var(--test-28);
	--avatar-background: var(--test-29);
	--avatar-background-rgb: var(--test-30);
	--avatar-border: var(--test-31);
	--avatar-border-rgb: var(--test-10);
	--avatar-circle-gray-light: var(--test-29);
	--avatar-circle-gray-light-rgb: var(--test-30);
	--avatar-circle-gray: var(--test-4);
	--avatar-circle-gray-rgb: var(--test-5);
	--avatar-circle-gray-active: var(--test-4);
	--avatar-circle-gray-active-rgb: var(--test-5);
	--avatar-circle-gray-dark: var(--test-32);
	--avatar-circle-gray-dark-rgb: var(--test-33);
	--avatar-circle-green-lighter: var(--test-34);
	--avatar-circle-green-lighter-rgb: var(--test-35);
	--avatar-circle-green-light: var(--test-36);
	--avatar-circle-green-light-rgb: var(--test-37);
	--avatar-circle-green: var(--test-38);
	--avatar-circle-green-rgb: var(--test-39);
	--avatar-circle-green-dark: var(--test-40);
	--avatar-circle-green-dark-rgb: var(--test-41);
	--avatar-placeholder-background: var(--test-42);
	--avatar-placeholder-background-rgb: var(--test-43);
	--avatar-placeholder-primary: var(--test-31);
	--avatar-placeholder-primary-rgb: var(--test-10);
	--archived-chat-marker: var(--test-44);
	--archived-chat-marker-rgb: var(--test-45);
	--archived-chat-marker-border: var(--test-29);
	--archived-chat-marker-border-rgb: var(--test-30);
	--archived-chat-marker-background: var(--test-29);
	--archived-chat-marker-background-rgb: var(--test-30);
	--archived-chat-persistent-header-background: var(--test-46);
	--archived-chat-persistent-header-background-rgb: var(--test-47);
	--background-default: var(--test-31);
	--background-default-rgb: var(--test-10);
	--background-document-with-captions: var(--test-46);
	--background-document-with-captions-rgb: var(--test-47);
	--background-default-active: var(--test-46);
	--background-default-active-rgb: var(--test-47);
	--background-default-hover: var(--test-48);
	--background-default-hover-rgb: var(--test-49);
	--badge-border: var(--test-4);
	--badge-border-rgb: var(--test-5);
	--badge-pending: var(--test-6);
	--badge-pending-rgb: var(--test-7);
	--beta-tag-background: var(--test-50);
	--beta-tag-background-rgb: var(--test-51);
	--border-bubble: rgba(var(--test-52),0.06);
	--border-bubble-rgb: var(--test-52);
	--border-deeper: var(--test-29);
	--border-deeper-rgb: var(--test-30);
	--border-default: var(--test-29);
	--border-default-rgb: var(--test-30);
	--border-list: var(--test-29);
	--border-list-rgb: var(--test-30);
	--border-panel: var(--test-29);
	--border-panel-rgb: var(--test-30);
	--border-strong: var(--test-29);
	--border-strong-rgb: var(--test-30);
	--border-stronger: var(--test-29);
	--border-stronger-rgb: var(--test-30);
	--border-document-footer: var(--test-53);
	--border-document-footer-rgb: var(--test-54);
	--bubble-meta: var(--test-55);
	--bubble-meta-rgb: var(--test-56);
	--bubble-meta-icon: var(--test-23);
	--bubble-meta-icon-rgb: var(--test-24);
	--business-name-title: var(--test-57);
	--business-name-title-rgb: var(--test-52);
	--business-name-subtitle: var(--test-32);
	--business-name-subtitle-rgb: var(--test-33);
	--butterbar-default-background: var(--test-58);
	--butterbar-default-background-rgb: var(--test-59);
	--butterbar-icon: var(--test-31);
	--butterbar-icon-rgb: var(--test-10);
	--butterbar-icon-dismiss: var(--test-31);
	--butterbar-icon-dismiss-rgb: var(--test-10);
	--butterbar-primary: var(--test-57);
	--butterbar-primary-rgb: var(--test-52);
	--butterbar-secondary: var(--test-60);
	--butterbar-secondary-rgb: var(--test-61);
	--butterbar-battery-background: var(--test-62);
	--butterbar-battery-background-rgb: var(--test-63);
	--butterbar-battery-icon: var(--test-31);
	--butterbar-battery-icon-rgb: var(--test-10);
	--butterbar-battery-primary: var(--test-31);
	--butterbar-battery-primary-rgb: var(--test-10);
	--butterbar-battery-secondary: var(--test-31);
	--butterbar-battery-secondary-rgb: var(--test-10);
	--butterbar-connection-background: var(--test-64);
	--butterbar-connection-background-rgb: var(--test-65);
	--butterbar-connection-primary: var(--test-57);
	--butterbar-connection-primary-rgb: var(--test-52);
	--butterbar-connection-secondary: var(--test-60);
	--butterbar-connection-secondary-rgb: var(--test-61);
	--butterbar-connection-icon: var(--test-31);
	--butterbar-connection-icon-rgb: var(--test-10);
	--butterbar-desktop-upsell-icon: var(--test-31);
	--butterbar-desktop-upsell-icon-rgb: var(--test-10);
	--butterbar-phone-icon-shape: var(--test-64);
	--butterbar-phone-icon-shape-rgb: var(--test-65);
	--butterbar-fatal-background: var(--test-64);
	--butterbar-fatal-background-rgb: var(--test-65);
	--butterbar-fatal-primary: var(--test-57);
	--butterbar-fatal-primary-rgb: var(--test-52);
	--butterbar-fatal-secondary: var(--test-60);
	--butterbar-fatal-secondary-rgb: var(--test-61);
	--butterbar-fatal-icon: var(--test-31);
	--butterbar-fatal-icon-rgb: var(--test-10);
	--butterbar-notice-background: var(--test-66);
	--butterbar-notice-background-rgb: var(--test-67);
	--butterbar-notice-circle: var(--test-6);
	--butterbar-notice-circle-rgb: var(--test-7);
	--butterbar-notice-icon: var(--test-31);
	--butterbar-notice-icon-rgb: var(--test-10);
	--butterbar-notice-smb-background: var(--test-68);
	--butterbar-notice-smb-background-rgb: var(--test-69);
	--butterbar-notice-smb-circle: var(--test-31);
	--butterbar-notice-smb-circle-rgb: var(--test-10);
	--butterbar-notice-smb-icon: var(--test-70);
	--butterbar-notice-smb-icon-rgb: var(--test-71);
	--butterbar-notification-icon: var(--test-31);
	--butterbar-notification-icon-rgb: var(--test-10);
	--butterbar-update-background: var(--test-66);
	--butterbar-update-background-rgb: var(--test-67);
	--butterbar-update-icon: var(--test-6);
	--butterbar-update-icon-rgb: var(--test-7);
	--butterbar-green-nux-primary: var(--test-57);
	--butterbar-green-nux-primary-rgb: var(--test-52);
	--butterbar-green-nux-secondary: var(--test-60);
	--butterbar-green-nux-secondary-rgb: var(--test-61);
	--butterbar-green-nux-background: var(--test-66);
	--butterbar-green-nux-background-rgb: var(--test-67);
	--butterbar-green-nux-icon: var(--test-31);
	--butterbar-green-nux-icon-rgb: var(--test-10);
	--butterbar-green-nux-icon-background: var(--test-6);
	--butterbar-green-nux-icon-background-rgb: var(--test-7);
	--butterbar-green-nux-icon-dismiss: var(--test-44);
	--butterbar-green-nux-icon-dismiss-rgb: var(--test-45);
	--butterbar-blue-nux-primary: var(--test-57);
	--butterbar-blue-nux-primary-rgb: var(--test-52);
	--butterbar-blue-nux-secondary: var(--test-60);
	--butterbar-blue-nux-secondary-rgb: var(--test-61);
	--butterbar-blue-nux-background: var(--test-72);
	--butterbar-blue-nux-background-rgb: var(--test-73);
	--butterbar-blue-nux-icon: var(--test-31);
	--butterbar-blue-nux-icon-rgb: var(--test-10);
	--butterbar-blue-nux-icon-background: var(--test-74);
	--butterbar-blue-nux-icon-background-rgb: var(--test-75);
	--butterbar-blue-nux-icon-dismiss: var(--test-44);
	--butterbar-blue-nux-icon-dismiss-rgb: var(--test-45);
	--button-alternative: var(--test-74);
	--button-alternative-rgb: var(--test-75);
	--button-alternative-background: var(--test-31);
	--button-alternative-background-rgb: var(--test-10);
	--button-background-disabled: var(--test-29);
	--button-background-disabled-rgb: var(--test-30);
	--button-bubble: rgba(var(--test-1),0.7);
	--button-bubble-rgb: var(--test-1);
	--button-plain-background: var(--test-31);
	--button-plain-background-rgb: var(--test-10);
	--button-plain-background-hover: var(--test-31);
	--button-plain-background-hover-rgb: var(--test-10);
	--button-plain: var(--test-44);
	--button-plain-rgb: var(--test-45);
	--button-plain-hover: var(--test-76);
	--button-plain-hover-rgb: var(--test-77);
	--button-primary: var(--test-31);
	--button-primary-rgb: var(--test-10);
	--button-primary-background: var(--test-0);
	--button-primary-background-rgb: var(--test-1);
	--button-primary-background-hover: var(--test-78);
	--button-primary-background-hover-rgb: var(--test-79);
	--button-round-background: var(--test-6);
	--button-round-background-rgb: var(--test-7);
	--button-round-background-inverted: var(--test-80);
	--button-round-background-inverted-rgb: var(--test-81);
	--button-round-icon-inverted: var(--test-6);
	--button-round-icon-inverted-rgb: var(--test-7);
	--button-disabled: var(--test-32);
	--button-disabled-rgb: var(--test-33);
	--button-secondary: var(--test-0);
	--button-secondary-rgb: var(--test-1);
	--button-secondary-border: var(--test-29);
	--button-secondary-border-rgb: var(--test-30);
	--button-secondary-background: var(--test-31);
	--button-secondary-background-rgb: var(--test-10);
	--button-secondary-background-hover: var(--test-31);
	--button-secondary-background-hover-rgb: var(--test-10);
	--button-secondary-hover: var(--test-78);
	--button-secondary-hover-rgb: var(--test-79);
	--button-focus: var(--test-31);
	--button-focus-rgb: var(--test-10);
	--button-focus-outline: var(--test-6);
	--button-focus-outline-rgb: var(--test-7);
	--button-approve: var(--test-0);
	--button-approve-rgb: var(--test-1);
	--button-approve-background: var(--test-66);
	--button-approve-background-rgb: var(--test-67);
	--button-approve-hover: var(--test-0);
	--button-approve-hover-rgb: var(--test-1);
	--button-approve-background-hover: var(--test-82);
	--button-approve-background-hover-rgb: var(--test-83);
	--button-approve-hover-strong: var(--test-0);
	--button-approve-hover-strong-rgb: var(--test-1);
	--button-approve-background-hover-strong: var(--test-84);
	--button-approve-background-hover-strong-rgb: var(--test-85);
	--button-reject: var(--test-23);
	--button-reject-rgb: var(--test-24);
	--button-reject-background: var(--test-46);
	--button-reject-background-rgb: var(--test-47);
	--button-reject-hover: var(--test-44);
	--button-reject-hover-rgb: var(--test-45);
	--button-reject-background-hover: var(--test-4);
	--button-reject-background-hover-rgb: var(--test-5);
	--button-reject-hover-strong: var(--test-76);
	--button-reject-hover-strong-rgb: var(--test-77);
	--button-reject-background-hover-strong: var(--test-32);
	--button-reject-background-hover-strong-rgb: var(--test-33);
	--cart-interstitial-background: var(--test-31);
	--cart-interstitial-background-rgb: var(--test-10);
	--cart-interstitial-icon: var(--test-70);
	--cart-interstitial-icon-rgb: var(--test-71);
	--chat-info-drawer-thumb-background: var(--test-46);
	--chat-info-drawer-thumb-background-rgb: var(--test-47);
	--chat-marker: var(--test-86);
	--chat-marker-rgb: var(--test-87);
	--chat-marker-border: var(--test-88);
	--chat-marker-border-rgb: var(--test-89);
	--chat-marker-background: var(--test-88);
	--chat-marker-background-rgb: var(--test-89);
	--chat-meta: var(--test-55);
	--chat-meta-rgb: var(--test-56);
	--chatlist-icon: var(--test-23);
	--chatlist-icon-rgb: var(--test-24);
	--checkbox-background: var(--test-0);
	--checkbox-background-rgb: var(--test-1);
	--checkbox-mark: var(--test-31);
	--checkbox-mark-rgb: var(--test-10);
	--chevron-button-background: rgba(var(--test-52),0.35);
	--chevron-button-background-rgb: var(--test-52);
	--chip-button-background: var(--test-90);
	--chip-button-background-rgb: var(--test-91);
	--chip-button-foreground: var(--test-0);
	--chip-button-foreground-rgb: var(--test-1);
	--compose-input-background: var(--test-31);
	--compose-input-background-rgb: var(--test-10);
	--compose-input-background-focused: var(--test-92);
	--compose-input-background-focused-rgb: var(--test-93);
	--compose-input-border: var(--test-31);
	--compose-input-border-rgb: var(--test-10);
	--compose-input-border-focused: var(--test-94);
	--compose-input-border-focused-rgb: var(--test-95);
	--compose-panel-background: var(--test-46);
	--compose-panel-background-rgb: var(--test-47);
	--compose-panel-background-hover: var(--test-29);
	--compose-panel-background-hover-rgb: var(--test-30);
	--compose-primary: var(--test-57);
	--compose-primary-rgb: var(--test-52);
	--conversation-panel-background: var(--test-96);
	--conversation-panel-background-rgb: var(--test-97);
	--conversation-panel-border: var(--test-29);
	--conversation-panel-border-rgb: var(--test-30);
	--cover-image-background: var(--test-98);
	--cover-image-background-rgb: var(--test-99);
	--danger: var(--test-100);
	--danger-rgb: var(--test-101);
	--disabled-round-button-background-color: var(--test-29);
	--disabled-round-button-background-color-rgb: var(--test-30);
	--document-meta: var(--test-23);
	--document-meta-rgb: var(--test-24);
	--drawer-background: var(--test-46);
	--drawer-background-rgb: var(--test-47);
	--drawer-background-deep: var(--test-46);
	--drawer-background-deep-rgb: var(--test-47);
	--drawer-gallery-background: var(--test-46);
	--drawer-gallery-background-rgb: var(--test-47);
	--drawer-gallery-background-active: var(--test-102);
	--drawer-gallery-background-active-rgb: var(--test-103);
	--drawer-gallery-background-hover: var(--test-104);
	--drawer-gallery-background-hover-rgb: var(--test-105);
	--drawer-header-title: var(--test-31);
	--drawer-header-title-rgb: var(--test-10);
	--drawer-section-background: var(--test-31);
	--drawer-section-background-rgb: var(--test-10);
	--dropdown-background: var(--test-31);
	--dropdown-background-rgb: var(--test-10);
	--dropdown-background-hover: var(--test-48);
	--dropdown-background-hover-rgb: var(--test-49);
	--electron-deprecation-app-expired-header: var(--test-6);
	--electron-deprecation-app-expired-header-rgb: var(--test-7);
	--electron-deprecation-app-expired-window: var(--test-31);
	--electron-deprecation-app-expired-window-rgb: var(--test-10);
	--empty-state-background: var(--test-106);
	--empty-state-background-rgb: var(--test-107);
	--empty-state-icon: var(--test-31);
	--empty-state-icon-rgb: var(--test-10);
	--ephemeral-nux-background: rgba(var(--test-108),0.15);
	--ephemeral-nux-background-rgb: var(--test-108);
	--ephemeral-nux-bubble: var(--test-6);
	--ephemeral-nux-bubble-rgb: var(--test-7);
	--ephemeral-nux-timer: var(--test-6);
	--ephemeral-nux-timer-rgb: var(--test-7);
	--sender-superpower-title: var(--test-6);
	--sender-superpower-title-rgb: var(--test-7);
	--focus: var(--test-74);
	--focus-rgb: var(--test-75);
	--focus-animation: rgba(var(--test-75),0.22);
	--focus-animation-rgb: var(--test-75);
	--focus-animation-deeper: rgba(var(--test-75),0.3);
	--focus-animation-deeper-rgb: var(--test-75);
	--focus-lighter: rgba(var(--test-75),0.1);
	--focus-lighter-rgb: var(--test-75);
	--forwarded-indicator-text: var(--test-23);
	--forwarded-indicator-text-rgb: var(--test-24);
	--highlight: var(--test-0);
	--highlight-rgb: var(--test-1);
	--icon: var(--test-44);
	--icon-rgb: var(--test-45);
	--icon-ack: var(--test-58);
	--icon-ack-rgb: var(--test-59);
	--icon-disabled: var(--test-4);
	--icon-disabled-rgb: var(--test-5);
	--icon-fixed: var(--test-23);
	--icon-fixed-rgb: var(--test-24);
	--icon-lighter: var(--test-23);
	--icon-lighter-rgb: var(--test-24);
	--icon-search-back: var(--test-6);
	--icon-search-back-rgb: var(--test-7);
	--icon-strong: var(--test-44);
	--icon-strong-rgb: var(--test-45);
	--icon-bright-accent: var(--test-6);
	--icon-bright-accent-rgb: var(--test-7);
	--icon-bright-highlight: var(--test-6);
	--icon-bright-highlight-rgb: var(--test-7);
	--icon-pinned: var(--test-23);
	--icon-pinned-rgb: var(--test-24);
	--round-icon-background: var(--test-6);
	--round-icon-background-rgb: var(--test-7);
	--incoming-background: var(--test-31);
	--incoming-background-rgb: var(--test-10);
	--incoming-background-deeper: var(--test-48);
	--incoming-background-deeper-rgb: var(--test-49);
	--incoming-background-highlight: var(--test-109);
	--incoming-background-highlight-rgb: var(--test-110);
	--incoming-primary: var(--test-111);
	--incoming-primary-rgb: var(--test-112);
	--input-border-active: var(--test-6);
	--input-border-active-rgb: var(--test-7);
	--input-border: var(--test-55);
	--input-border-rgb: var(--test-56);
	--input-hover-background: var(--test-46);
	--input-hover-background-rgb: var(--test-47);
	--input-empty-value-placeholder: var(--test-6);
	--input-empty-value-placeholder-rgb: var(--test-7);
	--input-placeholder: var(--test-55);
	--input-placeholder-rgb: var(--test-56);
	--input-button-more: var(--test-6);
	--input-button-more-rgb: var(--test-7);
	--intro-background: var(--test-46);
	--intro-background-rgb: var(--test-47);
	--intro-border: var(--test-113);
	--intro-border-rgb: var(--test-114);
	--intro-logo: rgba(var(--test-115),0.4);
	--intro-logo-rgb: var(--test-115);
	--intro-secondary: var(--test-55);
	--intro-secondary-rgb: var(--test-56);
	--inverse: var(--test-31);
	--inverse-rgb: var(--test-10);
	--label-secondary-text: rgba(var(--test-116),0.6);
	--label-secondary-text-rgb: var(--test-116);
	--labels-icon: rgba(var(--test-52),0.4);
	--labels-icon-rgb: var(--test-52);
	--label-disabled-text: var(--test-4);
	--label-disabled-text-rgb: var(--test-5);
	--link: var(--test-117);
	--link-rgb: var(--test-118);
	--link-alt: var(--test-0);
	--link-alt-rgb: var(--test-1);
	--link-preview: rgba(var(--test-52),0.87);
	--link-preview-rgb: var(--test-52);
	--link-preview-light: rgba(var(--test-52),0.3);
	--link-preview-light-rgb: var(--test-52);
	--link-preview-lighter: rgba(var(--test-52),0.6);
	--link-preview-lighter-rgb: var(--test-52);
	--live-location-footer-background: var(--test-119);
	--live-location-footer-background-rgb: var(--test-10);
	--live-location-glow: rgba(var(--test-114),0.3);
	--live-location-glow-rgb: var(--test-114);
	--live-location-glow-stale: rgba(var(--test-120),0.3);
	--live-location-glow-stale-rgb: var(--test-120);
	--location-cluster-background: var(--test-31);
	--location-cluster-background-rgb: var(--test-10);
	--map-overlay-background: var(--test-9);
	--map-overlay-background-rgb: var(--test-10);
	--map-overlay-foreground: var(--test-55);
	--map-overlay-foreground-rgb: var(--test-56);
	--media-editor-control: var(--test-121);
	--media-editor-control-rgb: var(--test-122);
	--media-editor-image-caption-input-background: var(--test-31);
	--media-editor-image-caption-input-background-rgb: var(--test-10);
	--media-editor-video-caption-input-background: var(--test-46);
	--media-editor-video-caption-input-background-rgb: var(--test-47);
	--media-editor-document-caption-input-background: var(--test-31);
	--media-editor-document-caption-input-background-rgb: var(--test-10);
	--media-editor-icon-color: var(--test-44);
	--media-editor-icon-color-rgb: var(--test-45);
	--media-editor-icon-secondary-color: var(--test-23);
	--media-editor-icon-secondary-color-rgb: var(--test-24);
	--media-editor-thumb-border: var(--test-4);
	--media-editor-thumb-border-rgb: var(--test-5);
	--media-editor-thumb-border-active: var(--test-6);
	--media-editor-thumb-border-active-rgb: var(--test-7);
	--media-gallery-thumb-background: var(--test-123);
	--media-gallery-thumb-background-rgb: var(--test-124);
	--media-gallery-thumb-icon: var(--test-125);
	--media-gallery-thumb-icon-rgb: var(--test-126);
	--media-inner-border: rgba(var(--test-8),0.1);
	--media-inner-border-rgb: var(--test-8);
	--media-viewer-background: var(--test-127);
	--media-viewer-background-rgb: var(--test-10);
	--media-viewer-button-background: var(--test-4);
	--media-viewer-button-background-rgb: var(--test-5);
	--media-viewer-button-icon: var(--test-31);
	--media-viewer-button-icon-rgb: var(--test-10);
	--menu-bar-item-background-active: rgba(var(--test-8),0.1);
	--menu-bar-item-background-active-rgb: var(--test-8);
	--menu-context-sticker-icon: rgba(var(--test-52),0.5);
	--menu-context-sticker-icon-rgb: var(--test-52);
	--menu-context-sticker-icon-inverse: var(--test-31);
	--menu-context-sticker-icon-inverse-rgb: var(--test-10);
	--menu-tabs-list-active: var(--test-128);
	--menu-tabs-list-active-rgb: var(--test-129);
	--mention-at-symbol: var(--test-117);
	--mention-at-symbol-rgb: var(--test-118);
	--message-background-deep: rgba(var(--test-8),0.12);
	--message-background-deep-rgb: var(--test-8);
	--message-placeholder-icon: rgba(var(--test-52),0.3);
	--message-placeholder-icon-rgb: var(--test-52);
	--message-primary: var(--test-57);
	--message-primary-rgb: var(--test-52);
	--message-selection-highlight: rgba(var(--test-1),0.08);
	--message-selection-highlight-rgb: var(--test-1);
	--modal-backdrop: var(--test-130);
	--modal-backdrop-rgb: var(--test-10);
	--modal-backdrop-solid: var(--test-46);
	--modal-backdrop-solid-rgb: var(--test-47);
	--modal-background: var(--test-31);
	--modal-background-rgb: var(--test-10);
	--notification-biz-background: rgba(var(--test-91),0.95);
	--notification-biz-background-rgb: var(--test-91);
	--notification-biz-text: rgba(var(--test-52),0.96);
	--notification-biz-text-rgb: var(--test-52);
	--notification-e2e-background: var(--test-131);
	--notification-e2e-background-rgb: var(--test-132);
	--notification-e2e-icon: var(--test-44);
	--notification-e2e-icon-rgb: var(--test-45);
	--notification-e2e-text: var(--test-44);
	--notification-e2e-text-rgb: var(--test-45);
	--notification-info-icon: var(--test-44);
	--notification-info-icon-rgb: var(--test-45);
	--notification-non-e2e-background: var(--test-133);
	--notification-non-e2e-background-rgb: var(--test-134);
	--notification-non-e2e-text: var(--test-44);
	--notification-non-e2e-text-rgb: var(--test-45);
	--notification-text: rgba(var(--test-52),0.96);
	--notification-text-rgb: var(--test-52);
	--outgoing-background: var(--test-34);
	--outgoing-background-rgb: var(--test-35);
	--outgoing-background-deeper: var(--test-135);
	--outgoing-background-deeper-rgb: var(--test-136);
	--outgoing-background-highlight: var(--test-137);
	--outgoing-background-highlight-rgb: var(--test-138);
	--overlay: var(--test-139);
	--overlay-rgb: var(--test-8);
	--panel-background: var(--test-46);
	--panel-background-rgb: var(--test-47);
	--panel-background-active: var(--test-102);
	--panel-background-active-rgb: var(--test-103);
	--panel-background-colored: var(--test-0);
	--panel-background-colored-rgb: var(--test-1);
	--panel-background-colored-deeper: var(--test-0);
	--panel-background-colored-deeper-rgb: var(--test-1);
	--panel-background-deep: var(--test-29);
	--panel-background-deep-rgb: var(--test-30);
	--panel-background-deeper: var(--test-29);
	--panel-background-deeper-rgb: var(--test-30);
	--panel-background-hover: var(--test-104);
	--panel-background-hover-rgb: var(--test-105);
	--panel-background-lighter: var(--test-106);
	--panel-background-lighter-rgb: var(--test-107);
	--panel-header-background: var(--test-46);
	--panel-header-background-rgb: var(--test-47);
	--panel-header-icon: var(--test-44);
	--panel-header-icon-rgb: var(--test-45);
	--conversation-header-border: var(--test-4);
	--conversation-header-border-rgb: var(--test-5);
	--panel-input-background: var(--test-29);
	--panel-input-background-rgb: var(--test-30);
	--panel-primary: rgba(var(--test-52),0.35);
	--panel-primary-rgb: var(--test-52);
	--payment-amount: var(--test-140);
	--payment-amount-rgb: var(--test-141);
	--payment-status-failed: var(--test-62);
	--payment-status-failed-rgb: var(--test-63);
	--payment-status-pending: rgba(var(--test-52),0.45);
	--payment-status-pending-rgb: var(--test-52);
	--payment-status-success: var(--test-142);
	--payment-status-success-rgb: var(--test-143);
	--photopicker-overlay-background: rgba(var(--test-45),0.8);
	--photopicker-overlay-background-rgb: var(--test-45);
	--picker-background: var(--test-46);
	--picker-background-rgb: var(--test-47);
	--pip-drag-bar: var(--test-31);
	--pip-drag-bar-rgb: var(--test-10);
	--pip-manager-content: rgba(var(--test-144),0.85);
	--pip-manager-content-rgb: var(--test-144);
	--popup-panel-background: rgba(var(--test-8),0.05);
	--popup-panel-background-rgb: var(--test-8);
	--primary-muted: var(--test-55);
	--primary-muted-rgb: var(--test-56);
	--primary: var(--test-76);
	--primary-rgb: var(--test-77);
	--primary-strong: var(--test-57);
	--primary-strong-rgb: var(--test-52);
	--primary-stronger: var(--test-57);
	--primary-stronger-rgb: var(--test-52);
	--primary-strongest: var(--test-57);
	--primary-strongest-rgb: var(--test-52);
	--primary-title: var(--test-145);
	--primary-title-rgb: var(--test-146);
	--product-image-button-background: rgba(var(--test-52),0.35);
	--product-image-button-background-rgb: var(--test-52);
	--product-placeholder-background: var(--test-147);
	--product-placeholder-background-rgb: var(--test-148);
	--product-thumb-background: var(--test-46);
	--product-thumb-background-rgb: var(--test-47);
	--product-thumb-background-deeper: var(--test-149);
	--product-thumb-background-deeper-rgb: var(--test-150);
	--product-thumb-overlay-background: rgba(var(--test-52),0.5);
	--product-thumb-overlay-background-rgb: var(--test-52);
	--product-thumb-overlay-text: var(--test-31);
	--product-thumb-overlay-text-rgb: var(--test-10);
	--progress-background: var(--test-29);
	--progress-background-rgb: var(--test-30);
	--progress-primary: var(--test-151);
	--progress-primary-rgb: var(--test-152);
	--poll-bar-container-receiver: var(--test-46);
	--poll-bar-container-receiver-rgb: var(--test-47);
	--poll-bar-fill-receiver: var(--test-6);
	--poll-bar-fill-receiver-rgb: var(--test-7);
	--poll-bar-container-sender: rgba(var(--test-8),0.1);
	--poll-bar-container-sender-rgb: var(--test-8);
	--poll-bar-fill-sender: var(--test-6);
	--poll-bar-fill-sender-rgb: var(--test-7);
	--poll-button-disabled-receiver: var(--test-4);
	--poll-button-disabled-receiver-rgb: var(--test-5);
	--poll-button-disabled-sender: rgba(var(--test-8),0.2);
	--poll-button-disabled-sender-rgb: var(--test-8);
	--poll-checkmark-receiver: var(--test-31);
	--poll-checkmark-receiver-rgb: var(--test-10);
	--poll-checkmark-sender: var(--test-34);
	--poll-checkmark-sender-rgb: var(--test-35);
	--poll-disabled-checked-checkbox-receiver: var(--test-4);
	--poll-disabled-checked-checkbox-receiver-rgb: var(--test-5);
	--poll-disabled-checked-checkbox-sender: rgba(var(--test-8),0.2);
	--poll-disabled-checked-checkbox-sender-rgb: var(--test-8);
	--poll-invalid-warning-background: var(--test-31)7e5;
	--poll-invalid-warning-background-rgb: var(--test-154);
	--poll-invalid-warning-border-receiver: var(--test-46);
	--poll-invalid-warning-border-receiver-rgb: var(--test-47);
	--poll-invalid-warning-border-sender: rgba(var(--test-8),0.1);
	--poll-invalid-warning-border-sender-rgb: var(--test-8);
	--poll-invalid-warning-icon-color: var(--test-155);
	--poll-invalid-warning-icon-color-rgb: var(--test-156);
	--poll-invalid-warning-icon-container-background: var(--test-157);
	--poll-invalid-warning-icon-container-background-rgb: var(--test-158);
	--poll-modal-background-color: var(--test-31);
	--poll-modal-background-color-rgb: var(--test-10);
	--poll-modal-footer-background-color: rgba(var(--test-8),0.04);
	--poll-modal-footer-background-color-rgb: var(--test-8);
	--poll-checkbox-default-border-color-sender: var(--test-23);
	--poll-checkbox-default-border-color-sender-rgb: var(--test-24);
	--ptt-blue: var(--test-159);
	--ptt-blue-rgb: var(--test-160);
	--ptt-button-cancel: rgba(var(--test-161),0.8);
	--ptt-button-cancel-rgb: var(--test-161);
	--ptt-button-send: rgba(var(--test-162),0.8);
	--ptt-button-send-rgb: var(--test-162);
	--ptt-draft-button-cancel: var(--test-55);
	--ptt-draft-button-cancel-rgb: var(--test-56);
	--ptt-draft-button-cancel-hover: var(--test-163);
	--ptt-draft-button-cancel-hover-rgb: var(--test-164);
	--ptt-draft-button-play-pause: var(--test-55);
	--ptt-draft-button-play-pause-rgb: var(--test-56);
	--ptt-draft-button-play-pause-hover: var(--test-163);
	--ptt-draft-button-play-pause-hover-rgb: var(--test-164);
	--ptt-draft-button-play-pause-out-of-chat: var(--test-31);
	--ptt-draft-button-play-pause-out-of-chat-rgb: var(--test-10);
	--ptt-draft-button-stop: var(--test-165);
	--ptt-draft-button-stop-rgb: var(--test-166);
	--ptt-draft-button-stop-hover: var(--test-167);
	--ptt-draft-button-stop-hover-rgb: var(--test-168);
	--ptt-draft-button-send: var(--test-6);
	--ptt-draft-button-send-rgb: var(--test-7);
	--ptt-draft-button-send-hover: var(--test-169);
	--ptt-draft-button-send-hover-rgb: var(--test-170);
	--ptt-draft-thumb: var(--test-6);
	--ptt-draft-thumb-rgb: var(--test-7);
	--ptt-thumb-outgoing-unplayed: var(--test-13);
	--ptt-thumb-outgoing-unplayed-rgb: var(--test-14);
	--ptt-thumb-outgoing-played: var(--test-159);
	--ptt-thumb-outgoing-played-rgb: var(--test-160);
	--ptt-thumb-incoming-unplayed: var(--test-171);
	--ptt-thumb-incoming-unplayed-rgb: var(--test-162);
	--ptt-thumb-incoming-played: var(--test-159);
	--ptt-thumb-incoming-played-rgb: var(--test-160);
	--ptt-draft-waveform-background: var(--test-31);
	--ptt-draft-waveform-background-rgb: var(--test-10);
	--ptt-draft-waveform-background-border: var(--test-106);
	--ptt-draft-waveform-background-border-rgb: var(--test-107);
	--ptt-ooc-background: var(--test-172);
	--ptt-ooc-background-rgb: var(--test-173);
	--ptt-ooc-mic-border-color: var(--test-172);
	--ptt-ooc-mic-border-color-rgb: var(--test-173);
	--ptt-ooc-mic-fill-color: var(--test-31);
	--ptt-ooc-mic-fill-color-rgb: var(--test-10);
	--ptt-ooc-avatar-background: var(--test-174);
	--ptt-ooc-avatar-background-rgb: var(--test-175);
	--ptt-waveform-preview-unplayed: var(--test-176);
	--ptt-waveform-preview-unplayed-rgb: var(--test-177);
	--ptt-waveform-incoming-unplayed: var(--test-176);
	--ptt-waveform-incoming-unplayed-rgb: var(--test-177);
	--ptt-waveform-outgoing-unplayed: var(--test-178);
	--ptt-waveform-outgoing-unplayed-rgb: var(--test-179);
	--ptt-waveform-preview-played: var(--test-180);
	--ptt-waveform-preview-played-rgb: var(--test-181);
	--ptt-waveform-incoming-played: var(--test-180);
	--ptt-waveform-incoming-played-rgb: var(--test-181);
	--ptt-waveform-outgoing-played: var(--test-182);
	--ptt-waveform-outgoing-played-rgb: var(--test-183);
	--ptt-gray: rgba(var(--test-52),0.7);
	--ptt-gray-rgb: var(--test-52);
	--ptt-gray-badge: rgba(var(--test-45),0.5);
	--ptt-gray-badge-rgb: var(--test-45);
	--ptt-green: var(--test-171);
	--ptt-green-rgb: var(--test-162);
	--ptt-message-blue: var(--test-117);
	--ptt-message-blue-rgb: var(--test-118);
	--ptt-text: var(--test-31);
	--ptt-text-rgb: var(--test-10);
	--quick-action-button: var(--test-31);
	--quick-action-button-rgb: var(--test-10);
	--quick-action-button-background: rgba(var(--test-8),0.2);
	--quick-action-button-background-rgb: var(--test-8);
	--reaction-button: var(--test-31);
	--reaction-button-rgb: var(--test-10);
	--reaction-button-background: rgba(var(--test-8),0.2);
	--reaction-button-background-rgb: var(--test-8);
	--round-entry-point-background-color: rgba(var(--test-8),0.2);
	--round-entry-point-background-color-rgb: var(--test-8);
	--quoted-message-text: var(--test-55);
	--quoted-message-text-rgb: var(--test-56);
	--rich-text-panel-background: var(--test-46);
	--rich-text-panel-background-rgb: var(--test-47);
	--search-container-background: var(--test-31);
	--search-container-background-rgb: var(--test-10);
	--search-input-background: var(--test-46);
	--search-input-background-rgb: var(--test-47);
	--search-input-container-background: var(--test-31);
	--search-input-container-background-rgb: var(--test-10);
	--search-input-container-background-active: var(--test-31);
	--search-input-container-background-active-rgb: var(--test-10);
	--secondary: var(--test-55);
	--secondary-rgb: var(--test-56);
	--secondary-light: var(--test-4);
	--secondary-light-rgb: var(--test-5);
	--secondary-lighter: var(--test-23);
	--secondary-lighter-rgb: var(--test-24);
	--secondary-stronger: var(--test-76);
	--secondary-stronger-rgb: var(--test-77);
	--security-icon-background: var(--test-184);
	--security-icon-background-rgb: var(--test-185);
	--security-icon-lock: var(--test-186);
	--security-icon-lock-rgb: var(--test-187);
	--security-icon-shield: var(--test-188);
	--security-icon-shield-rgb: var(--test-189);
	--shadow: var(--test-139);
	--shadow-rgb: var(--test-8);
	--shadow-light: rgba(var(--test-8),0.08);
	--shadow-light-rgb: var(--test-8);
	--spinner-default: var(--test-4);
	--spinner-default-rgb: var(--test-5);
	--spinner-highlight: var(--test-6);
	--spinner-highlight-rgb: var(--test-7);
	--spinner-incoming: var(--test-190);
	--spinner-incoming-rgb: var(--test-191);
	--spinner-outgoing: var(--test-192);
	--spinner-outgoing-rgb: var(--test-193);
	--startup-background: var(--test-46);
	--startup-background-rgb: var(--test-47);
	--startup-icon: var(--test-194);
	--startup-icon-rgb: var(--test-195);
	--status-background: var(--test-139);
	--status-background-rgb: var(--test-8);
	--status-background-hover: var(--test-196);
	--status-background-hover-rgb: var(--test-197);
	--status-primary: var(--test-31);
	--status-primary-rgb: var(--test-10);
	--status-secondary: var(--test-198);
	--status-secondary-rgb: var(--test-10);
	--status-secondary-stronger: var(--test-199);
	--status-secondary-stronger-rgb: var(--test-200);
	--status-ring-read: var(--test-201);
	--status-ring-read-rgb: var(--test-202);
	--status-ring-unread: var(--test-113);
	--status-ring-unread-rgb: var(--test-114);
	--status-thumbnail-background: var(--test-203);
	--status-thumbnail-background-rgb: var(--test-204);
	--status-link-preview-title: var(--test-57);
	--status-link-preview-title-rgb: var(--test-52);
	--status-link-preview-secondary: var(--test-55);
	--status-link-preview-secondary-rgb: var(--test-56);
	--sticker-button-background: var(--test-29);
	--sticker-button-background-rgb: var(--test-30);
	--success: var(--test-142);
	--success-rgb: var(--test-143);
	--suspicious-background: rgba(var(--test-63),0.8);
	--suspicious-background-rgb: var(--test-63);
	--system-message-background: var(--test-205);
	--system-message-background-rgb: var(--test-10);
	--system-message-text: var(--test-44);
	--system-message-text-rgb: var(--test-45);
	--teal-hover: var(--test-206);
	--teal-hover-rgb: var(--test-207);
	--teal-pale: var(--test-208);
	--teal-pale-rgb: var(--test-209);
	--text-action: var(--test-0);
	--text-action-rgb: var(--test-1);
	--text-action-link: var(--test-117);
	--text-action-link-rgb: var(--test-118);
	--text-muted: var(--test-23);
	--text-muted-rgb: var(--test-24);
	--thumb-border-active: var(--test-31);
	--thumb-border-active-rgb: var(--test-10);
	--thumb-border-viewer-active: var(--test-4);
	--thumb-border-viewer-active-rgb: var(--test-5);
	--toast-background: rgba(var(--test-8),0.82);
	--toast-background-rgb: var(--test-8);
	--tooltip-text: var(--test-31);
	--tooltip-text-rgb: var(--test-10);
	--tooltip-background: var(--test-60);
	--tooltip-background-rgb: var(--test-61);
	--typing: var(--test-142);
	--typing-rgb: var(--test-143);
	--unread-background: var(--test-31);
	--unread-background-rgb: var(--test-10);
	--unread-bar-background: var(--test-210);
	--unread-bar-background-rgb: var(--test-10);
	--unread-timestamp: var(--test-142);
	--unread-timestamp-rgb: var(--test-143);
	--unread-marker-background: var(--test-113);
	--unread-marker-background-rgb: var(--test-114);
	--unread-marker-text: var(--test-31);
	--unread-marker-text-rgb: var(--test-10);
	--vcard-placeholder-background: rgba(var(--test-52),0.04);
	--vcard-placeholder-background-rgb: var(--test-52);
	--vcard-placeholder-background-deeper: rgba(var(--test-52),0.08);
	--vcard-placeholder-background-deeper-rgb: var(--test-52);
	--video-player-background: var(--test-139);
	--video-player-background-rgb: var(--test-8);
	--pip-player-background: var(--test-211);
	--pip-player-background-rgb: var(--test-212);
	--video-primary: var(--test-31);
	--video-primary-rgb: var(--test-10);
	--voip-accept-background: var(--test-213);
	--voip-accept-background-rgb: var(--test-214);
	--voip-background: var(--test-57);
	--voip-background-rgb: var(--test-52);
	--voip-background-deep: var(--test-139);
	--voip-background-deep-rgb: var(--test-8);
	--voip-video-background: var(--test-215);
	--voip-video-background-rgb: var(--test-216);
	--voip-controls-background: var(--test-217);
	--voip-controls-background-rgb: var(--test-218);
	--voip-primary: var(--test-31);
	--voip-primary-rgb: var(--test-10);
	--voip-alternative: var(--test-139);
	--voip-alternative-rgb: var(--test-8);
	--voip-reject-background: var(--test-165);
	--voip-reject-background-rgb: var(--test-166);
	--voip-disabled-background: var(--test-219);
	--voip-disabled-background-rgb: var(--test-220);
	--wallpaper-background: var(--test-96);
	--wallpaper-background-rgb: var(--test-97);
	--wallpaper-thumb-border-active: var(--test-74);
	--wallpaper-thumb-border-active-rgb: var(--test-75);
	--wallpaper-thumb-border-hover: var(--test-31);
	--wallpaper-thumb-border-hover-rgb: var(--test-10);
	--win32-title-primary: var(--test-31);
	--win32-title-primary-rgb: var(--test-10);
	--reactions-bubble-border: rgba(var(--test-221),0.05);
	--reactions-bubble-border-rgb: var(--test-221);
	--reactions-bubble-counter: rgba(var(--test-116),0.6);
	--reactions-bubble-counter-rgb: var(--test-116);
	--reactions-details-background: var(--test-31);
	--reactions-details-background-rgb: var(--test-10);
	--reactions-tray-background: var(--test-31);
	--reactions-tray-background-rgb: var(--test-10);
	--reactions-details-background-hover: var(--test-48);
	--reactions-details-background-hover-rgb: var(--test-49);
	--reactions-tray-active-round-background: rgba(var(--test-8),0.1);
	--reactions-tray-active-round-background-rgb: var(--test-8);
	--reactions-picker-bg: var(--test-222);
	--reactions-picker-bg-rgb: var(--test-223);
	--svg-gray-button: rgba(var(--test-8),0.5);
	--svg-gray-button-rgb: var(--test-8);
	--reactions-panel-background-color: var(--test-31);
	--reactions-panel-background-color-rgb: var(--test-10);
	--reactions-panel-search-background-color: rgba(var(--test-221),0.05);
	--reactions-panel-search-background-color-rgb: var(--test-221);
	--reactions-search-color: var(--test-55);
	--reactions-search-color-rgb: var(--test-56);
	--reactions-menu-tab-separator: rgba(var(--test-116),0.29);
	--reactions-menu-tab-separator-rgb: var(--test-116);
	--text-primary-strong: var(--test-57);
	--text-primary-strong-rgb: var(--test-52);
	--text-secondary-lighter: var(--test-55);
	--text-secondary-lighter-rgb: var(--test-56);
	--text-medium-emphasis: var(--test-55);
	--text-medium-emphasis-rgb: var(--test-56);
	--icon-medium-emphasis: var(--test-23);
	--icon-medium-emphasis-rgb: var(--test-24);
	--icon-high-emphasis: var(--test-6);
	--icon-high-emphasis-rgb: var(--test-7);
	--switch-button-color: var(--test-224);
	--switch-button-color-rgb: var(--test-225);
	--switch-button-checked-color: var(--test-226);
	--switch-button-checked-color-rgb: var(--test-227);
	--switch-track-color: var(--test-228);
	--switch-track-color-rgb: var(--test-229);
	--switch-track-checked-color: var(--test-230);
	--switch-track-checked-color-rgb: var(--test-231);
	--announcement-speaker-background: var(--test-34);
	--announcement-speaker-background-rgb: var(--test-35);
	--communities-green: var(--test-0);
	--communities-green-rgb: var(--test-1);
	--qc-button-border: var(--test-29);
	--qc-button-border-rgb: var(--test-30);
	--qc-button-border-active: var(--test-4);
	--qc-button-border-active-rgb: var(--test-5);
	--qc-quantity-label-highlighted-background: var(--test-0);
	--qc-quantity-label-highlighted-background-rgb: var(--test-1);
	--drawer-loading-backgroud: var(--test-232);
	--drawer-loading-backgroud-rgb: var(--test-10);
	--multi-skin-tone-picker-emoji-selected-background: var(--test-4);
	--multi-skin-tone-picker-emoji-selected-background-rgb: var(--test-5);
	--chat-assignment-icon-me: var(--test-74);
	--chat-assignment-icon-me-rgb: var(--test-75);
	--chat-assignment-icon-others: var(--test-23);
	--chat-assignment-icon-others-rgb: var(--test-24);
	--pnh-nux: var(--test-233);
	--pnh-nux-rgb: var(--test-234);
	--forward-caption-preview-background: var(--test-31);
	--forward-caption-preview-background-rgb: var(--test-10);
	--forward-caption-preview-content: var(--test-106);
	--forward-caption-preview-content-rgb: var(--test-107);
	--badge-icon: var(--test-31);
	--badge-icon-rgb: var(--test-10);
	--icon-secondary: var(--test-23);
	--icon-secondary-rgb: var(--test-24);
	--poll-disabled-send-button-background-color: var(--test-29);
	--poll-disabled-send-button-background-color-rgb: var(--test-30);
	--text-secondary: var(--test-55);
	--text-secondary-rgb: var(--test-56);
}