html[dir] body div[data-animate-status-v3-modal-background],
html[dir] body.blur .ej3x2ktq,
html[dir] body.blur div[data-testid="status-v3-main-panel"],
html[dir] body.blur div[data-testid*=popup]:has(> div[data-animate-modal-popup]),
html[dir=ltr] body.blur ._9-YHG,
html[dir] body.blur .overlay._3IBSU,
html[dir] body.blur .ej3x2kt,
html[dir] body.blur ._2M_x0,
html[dir] body.blur ._1bLj8 div.lhggkp7q.qq0sjtgm.ebjesfe0.jxacihee.tkdu00h0,
html[dir] body.blur div[data-testid="media-viewer-modal"] {
    backdrop-filter: blur(var(--blurValue-heavy));
    overflow: hidden;
}

html[dir] body.blur ._1BOF7,
html[dir] #main > header,
html[dir] body.blur ._2BU3P.tm2tP.copyable-area,
html[dir] body.blur ._2lSWV._3cjY2.copyable-area,
html[dir] body.blur ._23P3O,
html[dir] body.blur .lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>._3Bc7H>div>div,
.lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>.g0rxnol2>div>div,
html[dir] body.blur .o--vV,
html[dir] body.blur ._2sDI2,
html[dir=ltr] body.blur ._1y99G,
html[dir] body.blur .f09rd1o5,
html[dir] body.blur ._2A-Ve,
html[dir="ltr"] body.blur .kx1rlajt:hover,.kx1rlajt
html[dir] body.blur ._3r7AV,
body.blur ._3CRhO,
html[dir] .OVz7E,
html[dir=ltr] body.blur ._1fLGu,
html[dir] body.blur div.landing-window,
html[dir=ltr] body.blur ._5ML0C,
html[dir="ltr"] body.blur div._356RS,
html[dir] body.blur .NQl4z,
html[dir] body.blur .ItfyB._3nbHh,
html[dir] [data-testid="conversation-header"] {
    backdrop-filter: blur(var(--blurValue-medium));
    /* overflow: hidden; */
}

html[dir=ltr] body.blur ._2JUrU._2ecOY ._3OC33,
html[dir] body.blur .Nm1g1._22AX6,
html[dir] body.blur ._2VSMU,
html[dir] body.blur ._1VGG7,
html[dir] body.blur ._3nQGi,
html[dir] body.blur ._3t1CR,
html[dir=ltr] body.blur .EtBAv,
html[dir=ltr] body.blur .i_Uj-,
html[dir] body.blur ._1w-Ol,
html:not([dir='rtl']) body.blur .fahkg6u0,
html[dir] body.blur ._1GLVO,
html[dir] body.blur ._2JUrU ._3OC33,
html[dir] body.blur ._2JUrU ._3Lby7,
html[dir] body.blur .epdck8xl,
html[dir] body.blur ._3JXTQ,
html[dir] body.blur .bs7a17vp.jxacihee.d53pemmv,
html[dir] body.blur .GvRI8,
html[dir] body.blur ._19zgN._26nDl div[data-testid="tooltip"],
html[dir] body.blur ._1D6fx,
html[dir] body.blur [data-testid="msg-container"] > ._1BOF7,
html[dir] body.blur ._34gFf {
    backdrop-filter: blur(var(--blurValue-light));
}