
html[dir] div[data-testid="status-v3-main-panel"],
html[dir] ._2B4d4,
html[dir] div[data-testid*="popup"]>div,
html[dir] ._3mpG7,
html[dir] ._37FrU,
html[dir] .p4t1lx4y{
    transition: all 300ms ease-in-out;
}


html[dir] div:has(> [data-icon*="msg"]),
html[dir] [data-icon*="msg"],
html[dir] div[role="listitem"] *,
html[dir] ._2BU3P.tm2tP.copyable-area,
._2lSWV._3cjY2.copyable-area,
html[dir] .ej3x2ktq,
html[dir] ._23P3O,
html[dir] .overlay._3IBSU,
html[dir] .lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>._3Bc7H>div>div,
.lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>.g0rxnol2>div>div,
html[dir=ltr] ._12x9I,
html:not([dir='rtl']) .kfr1vweg,
html[dir] body ._2VSMU,
html[dir] .odkvbdo1,
html[dir] button.fiyt298h,
html[dir] ._3l4_3,
html[dir] ._3NIfV,
html[dir=ltr] div>.Iwkc0,
html[dir] ._3BK98._3vy-1,
html[dir] ._3BK98:hover,
html[dir] a,
html[dir=ltr] ._36BuW,
html[dir=ltr] ._8KUDv,
html:not([dir='rtl']) .s2vc4xk1,
html[dir=ltr] ._3yWey._18wEy .p357zi0d.ktfrpxia.nu7pwgvd,
html[dir] div[role="button"],
html[dir=ltr] div:has(> div[data-testid="icon-down-context"]),
span[data-testid*="check"]>svg,
div:has(> span[data-testid*="check"]),
html[dir] .f6cvynhn,
html[dir] ._30oSb {
    transition: all 200ms ease-in-out;
}

html[dir=ltr] ._2JUrU._2ecOY ._3OC33,
html[dir] .Nm1g1._22AX6,
html[dir] ._2VSMU,
html[dir] ._1VGG7,
html[dir] ._3nQGi,
html[dir="ltr"] .cm280p3y.ln8gz9je.gc15jzxb.eujn52yf,
html[dir] div[data-testid*="msg"]._1-lf9 {
    transition: all 100ms ease-in-out;
}

/* main settinsg */

/* html {
    scroll-behavior: smooth;
} */

/* @media screen and (height <= 120vh) { */
/*         html[dir] ._2gzeB:not(.velocity-animating) ._33LGR { */
/*             scroll-behavior: smooth; */
/*         } */
/*     } */
/*  */
/* page sizing */

html[dir] .app-wrapper-web>div,
html[dir] body div[data-animate-status-v3-modal-background]>div {
    top: 0;
    transition: all 300ms ease-in-out;
    height: 100%;
    width: 100%;
    max-width: initial;
}

/* chat screen / message screen sizing */

html[dir=ltr] div>div._5kRIK {
    top: -80px;
    height: calc(100% + 62px + 80px);
}

html[dir=ltr] ._3M3aq._3KRR6 {
    margin-top: 80px;
}

html[dir] body div._5kRIK {
    padding: 80px 0 59px;
}

/* html[dir] body ._3K4-L */
/* load screen */

html[dir] ._1dEQH:after {
    background: linear-gradient(90deg, rgba(var(--startup-background-rgb), 1) 0, rgba(var(--startup-background-rgb), 1) 33.33%, rgba(var(--startup-background-rgb), 0.7) 44.1%, rgba(var(--startup-background-rgb), 0.7) 55.8%, rgba(var(--startup-background-rgb), 1) 66.66%, rgba(var(--startup-background-rgb), 1));
    animation-duration: 2s;
}

/* svg icons */

body.dark span[data-testid="checkbox-round-radio-checked"]>svg>path,
body.dark span[data-testid="status-v3-unread"]>svg>path[fill="#009588"],
body.dark span[data-testid="alert-update"],
body.dark span[data-icon="document"] path[fill="#06CF9C"][fill-opacity],
body.dark span[data-testid="view-once-media-select-on"]>svg>*,
body.dark path.ptt-status-icon {
    fill: var(--svg-icon-theme-light);
}

html[dir] body.dark .bSJ6w path.primary,
body.dark span[data-icon="document"] path[fill="#06CF9C"] {
    fill: var(--svg-icon-main-white);
}

/* icons */

.bSJ6w path.primary {
    background: var(--avatar-placeholder-background);
}

/* Security icon */

html[dir] .ZIBLv.g0rxnol2 .p357zi0d.ktfrpxia.nu7pwgvd.ac2vgrno.f8m0rgwh.gndfcl4n {
    border-radius: 50%;
}

/* profile page */

html[dir] .g6kkip0l.p357zi0d.f8m0rgwh.ppled2lx.tkdu00h0.gfz4du6o.r7fjleex.jv8uhy2r.lhggkp7q.qq0sjtgm.ln8gz9je.tm2tP.copyable-area,
html[dir] .se2m7z6i {
    backdrop-filter: blur(var(--blurValue-heavy));
}

html[dir] .g6kkip0l.p357zi0d.f8m0rgwh.ppled2lx.tkdu00h0.gfz4du6o.r7fjleex.jv8uhy2r.lhggkp7q.qq0sjtgm.ln8gz9je.tm2tP.copyable-area ._2P1rL._1is6W.ZIBLv._1zkaQ {
    box-shadow: none;
    background: var(--main-transparent);
}

/* floating popup notification */

html[dir] body .bs7a17vp.jxacihee.d53pemmv,
html[dir] body .NQl4z {
    border-radius: 20px;
    overflow: hidden;
}

/* right click menu */

html[dir] .o--vV,
html[dir] body ._2sDI2 {
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
}

html[dir=ltr] .o--vV ._1wMaz,
html[dir=ltr] ._2sDI2 .Iaqxu {
    display: flex;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

html[dir=ltr] .dJxPU {
    margin: auto 20px;
    height: 18px;
    padding-left: 0px;
    padding-right: 0px;
}

html[dir=ltr] .esbg2say,
.bha6utru:before {
    animation-timing-function: cubic-bezier(0.17, 0.84, 0.41, 1);
}

/* side column / column */

html[dir] div[data-testid="chat-list-search-container"]>div>div {
    border-radius: 20px;
}

html[dir] div[data-testid="cell-frame-container"],
html[dir] div[data-testid="message-yourself-row"],
html[dir] ._2QzJd,
html[dir] .os03hap6 {
    transition: all 200ms ease-in-out;
}

/* help page side column */

html[dir] .o43XS {
    filter: grayscale(1);
}

/* colour padlet / background colour page */

html[dir=ltr] div>.Iwkc0 {
    border-radius: 20px;
}

html[dir] div.KzJy3>._3Mp8z,
html[dir] div.KzJy3>._2MCR7,
html[dir=ltr] div.KzJy3>._2MCR7:after {
    border-radius: 10px;
}

/* emoji menu & message not sent/couldnt send message menu */

html[dir] .o--vV.B_YVs._24No0,
html[dir] ._2sDI2._1nG7g._379cJ,
html[dir=ltr] ._1y99G {
    border-radius: 30px;
    overflow: hidden;
    background: var(--reactions-tray-background);
}

html[dir] .dKzIw._16kef,
html[dir] ._3knDg._2nY6U {
    background: var(--main-transparent);
    border-radius: 10px;
}

html[dir] ._3nQGi,
html[dir] ._3t1CR {
    border-radius: 30px;
}

/* shadow */

html[dir] body div#main>header._23P3O,
html[dir="ltr"] body section.oq44ahr5>div.ZIBLv,
html[dir] div.o--vV,
html[dir] body div._2sDI2,
html[dir] body .h3bz2vby {
    box-shadow: 0 0 20px var(--shadow-own);
}

/* footer: message bar, audio popup, cannot send message */

html[dir] ._2BU3P.tm2tP.copyable-area,
._2lSWV._3cjY2.copyable-area,
html[dir] .lhggkp7q.b9fczbqn.f09rd1o5.p357zi0d,
html[dir=ltr] ._1fLGu {
    border-radius: 20px 20px 0px 0px;
}

/* /* message bar 2 */

/* html[dir] ._2BU3P.tm2tP.copyable-area, html[dir] .lhggkp7q.b9fczbqn.f09rd1o5.p357zi0d, html[dir=ltr] ._1fLGu { */
/*     border-radius: 20px; */
/*     margin: 5px; */
/*     width: calc(100% - 10px); */
/* } */
/* message bar textbox */

html[dir] ._3Uu1_,
html[dir=ltr] div[data-testid="compose-box"] ._3Uu1_,
html:not([dir='rtl']) .llnowng2,
html[dir] div>._1VmmK {
    border-radius: 20px !important;
    overflow: hidden;
}

html[dir=ltr] body .customStylesFontWeight {
    font-weight: 300;
}


html[dir] .lexical-rich-text-input {
    max-height: 20vh;
}

html[dir] ._3Bc7H .rrq4r3yd {
    background: var(--main-transparent);
}

/* ticks */

html[dir] ._3nrYb {
    opacity: 0;
}

/* receive messages */

html[dir] .message-in ._1BOF7{
    border-radius: 7px 15px 15px 7px;
    /* overflow: hidden; */
}

html[dir] div[data-testid="group-chat-profile-picture"] {
    bottom: 10px;
}

/* receive message starter */

html[dir=ltr] .message-in ._3m5cz ._1BOF7 {
    border-top-left-radius: 15px !important;
}

/* receive message ender */

html[dir] .message-in:not(._3Zpy8) ._1-lf9:not(._18q-J),
html[dir] .message-in:not(._3Zpy8) ._1-lf9:not(._18q-J) .ItfyB,
html[dir] .message-in:not(._3Zpy8) ._1-lf9:not(._18q-J) ._1D6fx,
html[dir] .message-in:not(._3Zpy8) ._1-lf9:not(._18q-J) ._3o1Tf {
    border-bottom-left-radius: 15px !important;
}

/* sent messages */

html[dir] .message-out ._1BOF7 {
    border-radius: 15px 7px 7px 15px;
    /* overflow: hidden; */
}

html[dir=ltr] body ._2Fo6S {
    margin: -3px -4px 6px -6px;
}

/* sent messages starter */

html[dir=ltr] .message-out ._3m5cz ._1BOF7 {
    border-top-right-radius: 15px !important;
}

/* sent messages ender */

html[dir] .message-out:not(._3Zpy8) ._1-lf9:not(._18q-J),
html[dir] .message-out:not(._3Zpy8) ._1-lf9:not(._18q-J) .ItfyB,
html[dir] .message-out:not(._3Zpy8) ._1-lf9:not(._18q-J) ._1D6fx,
html[dir] .message-out:not(._3Zpy8) ._1-lf9:not(._18q-J) ._3o1Tf {
    border-bottom-right-radius: 15px importnt !important;
}

/* sticker messages */

html[dir] _1D6fx {
    border-radius: 15px;
}

/* message padding */

html[dir=ltr] .cm280p3y.m3h9lho3.lna84pfr.psacz3a6.gjfcmax9.mmw11n2j {
    padding: 3px;
}

/* message error */

html[dir=ltr] ._1aKu8 {
    opacity: 1;
}

/* message tail */
html[dir] span[data-icon*="tail"] {
    fill: var(--main-transparent);
    color: var(--main-transparent);
}

/* dropdown menu button */

html[dir=ltr] div:has(> div[data-js-context-icon="true"])._2T2Kt {
    right: 0;
    top: 0;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(30deg, rgba(var(--shadow-own-rgb), 0), rgba(var(--shadow-own-rgb), 0.05) 45%, rgba(var(--shadow-own-rgb), 0.1) 70%, rgba(var(--shadow-own-rgb), 0.2));
}

html[dir=ltr] body div[data-js-context-icon="true"] {
    right: 8px;
    top: auto;
    padding: 0 0 2px 5px;
}

/* html[dir=ltr] ._2copG._18oGY._3QvcT { */
/*     border-radius: 0 20px 20px 0; */
/* } */

/* messages text */

html[dir] ._1Gy50 {
    margin: 1px 5px;
}

/* messages status */

html[dir=ltr] .EtBAv,
html[dir=ltr] .i_Uj- {
    padding: 5px 14px;
    border-radius: 15px;
    overflow: hidden;
}
/* messages content */

html[dir=ltr] body ._1beEj {
    margin: -13px 0 -6px 10px;
}

html[dir=ltr] body .gq1t1y46.lak21jic.e4p1bexh.cr2cog7z.le5p0ye3._1WSmF {
    margin: 0 0 4px 0;
}

/* messages separate send time */

html[dir=ltr] ._2JUrU ._3Lby7,
html[dir] ._2JUrU ._3OC33 {
    border-radius: 10px;
}

/* links */

html[dir] a {
    opacity: 0.8;
}

html[dir] a:hover {
    opacity: 1;
    text-decoration: none;
}

/* messages ticks */

html[dir] div._2qo4q {
    margin-right: 4px;
}

html[dir] div.k6y3xtnu {
    margin-left: 4px;
}

html[dir] div:has(> span[data-icon$="-check"]),
html[dir] div:has(> span[data-testid$="-check"]) {
    width: 12px;
}

html[dir] div:has(> span[data-icon$="-dblcheck"]),
html[dir] div:has(> span[data-testid$="-dblcheck"]) {
    width: 16px;
}

html[dir] div:has(> span[data-icon$="-time"]),
html[dir] div:has(> span[data-testid$="-time"]) {
    width: 16px;
}

/* popup message screen notification */

html[dir=ltr] ._3ImlL {
    border: 0;
}

html[dir=ltr] body ._5ML0C {
    border-radius: 20px;
    margin: 5px;
    width: calc(100% - 5px);
    padding: 5px 0;
}

/* status screen */

html[dir] .cm280p3y.ln8gz9je.gc15jzxb.ocd2b0bc.l9g3jx6n.aa0kojfi {
    border-radius: 20px;
}

/* message bar slide up / popup */

html[dir] .lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>._3Bc7H>div>div,
.lhggkp7q.jxacihee.tkdu00h0.cm280p3y.ln8gz9je>.g0rxnol2>div>div,
html[dir=ltr] body div[data-testid="popup_panel"]:not(.rv6u8h8g),
html[dir=ltr] ._1GHsB,
html[dir=ltr] div._356RS {
    margin: 5px;
    border-radius: 20px;
    background: var(--rich-text-panel-background);
    /* width: calc(100% - 10px); */
    width: auto;
    overflow: hidden;
}

html[dir=ltr] .rv6u8h8g {
    background: none;
}

html[dir=ltr] body div[data-testid="popup_panel"] {
    padding: 5px;
    width: initial;
}

html[dir=ltr] .a-HbF,
html[dir=ltr] ._2bgh7,
html[dir=ltr] ._16kef,
html[dir=ltr] ._1TdPb {
    padding: 5px;
}

html[dir=ltr] body ._1IN0t,
html[dir=ltr] body ._34gFf,
html[dir=ltr] div[data-testid="popup_panel"]>div {
    border-radius: 15px;
    margin: 0;
}

html[dir=ltr] div._356RS {
    margin: 0px;
}

html[dir="ltr"] .grt5ktjy.jxacihee.tukmaf4q.thghmljt.pppsat04 {
    padding-top: 5px;
    margin: 0 5px;
    width: auto;
}

html[dir] body ._2VSMU,
html[dir] body ._1VGG7 {
    border-radius: 20px;
    padding-left: 10px;
}

html[dir] .y7k-3 {
    border: none !important;
    background: none !important;

}

/* transparent */

html[dir] body div[data-testid="cell-frame-container"],
html[dir] body div[aria-selected="true"] div[data-testid="cell-frame-container"]:after,
html[dir] body div[data-testid="cell-frame-container"]:hover:after,
html[dir] body ._3knDg._2nY6U,
html[dir=ltr] body .dKzIw._16kef,
html[dir=ltr] body ._16kef,
html[dir=ltr] body ._1Hccy,
html[dir] ._3x7O3,
html[dir] ._3x7O3>div,
html[dir] body ._10mnt,
html[dir] body .lBRRA,
html[dir] ._3nQGi ._2hkxa,
html[dir] ._3t1CR ._2hkxa,
html[dir=ltr] body ._1TdPb,
html[dir=ltr] body ._16kef,
html[dir] body ._2bgh7,
html[dir] body ._1Dcdv,
html[dir] ._1NPzg,
html[dir] .ga96p4vz:before,
html[dir=ltr] body ._3U8t1._1UyGr,
html[dir] ._2nY6U,
html[dir] div._1Mcu-,
html[dir] span[data-icon*="tail"],
html[dir] div[data-testid="group-admin-marker"] {
    background: var(--main-transparent);
    border: 0;
}


html[dir=ltr] ._1iDDZ {
    border-radius: 10px;
}

html[dir=ltr] .cm280p3y.ln8gz9je.gc15jzxb.eujn52yf {
    border-radius: 23px;
}

html[dir=ltr] .d10gensu,
html[dir=ltr] div._3-qS1 {
    max-height: 40vh;
    /* height: 40vh; */
    width: 50%;
    max-width: 400px;
}

html[dir=ltr] div._3-qS1 {
    left: 0;
    right: 0;
    overflow: unset;
}

html[dir=ltr] div._1Uy4i {
    left: 34px;
    right: 0;
}

/* media message */

html[dir] .message-out ._3o5fT,
html[dir] body ._2dClC,
html:not([dir='rtl']) button.i5tg98hk.f9ovudaz.przvwfww.gx1rr48f.shdiholb,
html[dir] .CHSLU,
html[dir] ._3DThG,
html[dir] ._2Fo6S,
html[dir] .sxls5clz,
html[dir] ._3vRLq,
html[dir] ._1HqS9 {
    border-radius: 12px;
    overflow: hidden;
}

html:not([dir='rtl']) .snweb893.folpon7g.ocd2b0bc.aa0kojfi {
    padding: 3px;
}

html[dir] div._3dSQU.Nm1g1._22AX6 {
    padding: 1.5px;
}

html[dir] div.q7l348o2.ln8gz9je.cu1tgave.bvcnfjzh>div {
    margin: 1.5px;
}

html:not([dir='rtl']) .en6yos0k,
html:not([dir='rtl']) .j2mzdvlq {
    z-index: 100;
}

html[dir] .e1lnay39 {
    background: none;
}

html[dir=ltr] ._21bgy {
    right: 0;
    bottom: 0;
    padding: 7px;
}

html[dir=ltr] ._21bgy {
    max-width: 20vw;
}

/* return message */

html[dir=ltr] div[data-testid="quoted-message"] {
    border-radius: 13px;
    overflow: hidden;
}

/* media view / media popup */

html[dir] ._1Lu8G._1p0Ic>div,
html[dir] [data-testid="media-url-provider"] > div /* image media popup */ {
    border-radius: 10px;
    overflow: hidden;
}

/* media thumbnail */

html[dir] .fsmudgz7 {
    backdrop-filter: blur(var(--blurValue-lighter));
    transition: all 300ms ease-in-out;
}

html[dir] div._1uBVh {
    border-radius: 10px;
    overflow: hidden;
}

html[dir] div._10gTM,
html[dir] div._31TVj {
    background: none;
}

/* media receive view */

html[dir] ._153i9,
._153i9 canvas {
    border-radius: 10px;
    overflow: hidden;
}

/* message sticker */

html[dir=ltr] ._2JUrU._2ecOY ._3OC33 {
    border: initial;
}

/* messages */

.tm2tP {
    order: 1;
    z-index: 2;
}

/* messages screen */

html[dir=ltr] ._1-FMR,
html[dir=rtl] ._1-FMR {
    order: 1;
    z-index: 2;
}

/* message screen */

._2gzeB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* textbox bar nest */

._2cYbV {
    z-index: 100;
}

/* popup question */

html[dir] ._3J6wB,
.cm280p3y.p357zi0d.tvf2evcx.oq44ahr5.lb5m6g5c {
    border-radius: 20px;
}

/* popup question background */

html[dir] ._2B4d4 {
    z-index: 1000;
}

/* button , checkbox */

html[dir] div[data-testid*="popup"] div[role="button"],
html[dir] div[data-testid*="btn"] div[role="button"],
html[dir] div[role="button"][data-testid="start-a-community"],
html:not([dir='rtl']) .s2vc4xk1 {
    border-radius: 20px;
}

html[dir] body.dark div[data-testid*="popup"] div[role="button"]:not([tabindex]):hover,
html[dir] div[data-testid*="btn"] div[role="button"]:hover {
    background-color: var(--button-primary-background-hover);
}

/* popup insert media screen */

html[dir=ltr] body.dark ._1Mcu-._2NB7f,
html[dir="ltr"] body.dark div>._9-YHG {
    background-color: var(--media-viewer-background);
}

/* switches */

html[dir=ltr] div.tknnhhou {
    width: 44px;
    height: 22px;
    border-radius: 20px;
}

html[dir] .jdwybkuq.m0s4cjtr.ikqdvm1y.m3qqxsiz.r1ncx0sg {
    left: 2px;
}

html[dir] .e95mh68g {
    transform: translateX(20px);
}

/* switches */

html[dir] ._2P1rL {
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}

/* select message screen */

html[dir=ltr] ._3BK98 {
    left: 0;
}

html[dir=ltr] ._3BK98 {
    left: 0;
}

/* feedback form */

html[dir] ._2Nr6U ._3mpG7 {
    padding: 5px 10px !important;
    border-radius: 10px;
    background: var(--input-border);
}

html[dir] ._2Nr6U ._3pqwA ._3mpG7 {
    background: var(--input-border-active);
}

html[dir] ._2Nr6U ._3mpG7._1PQrR {
    background: var(--danger-fade) !important;
}

html[dir] ._2Nr6U ._2Pq6r {
    line-height: 30px;
    padding: 5px 10px !important;
}

html[dir] ._2Nr6U div>._3zbxJ {
    padding: 0 8px 0 0 !important;
    line-height: 16px !important;
}

html[dir] ._2Nr6U .X2s7w {
    height: 20px;
}

/* side drawer */

html[dir] .ldL67 {
    transition: all 500ms ease-in-out;
}

html[dir] ._1bLj8 div.lhggkp7q.qq0sjtgm.ebjesfe0.jxacihee.tkdu00h0 {
    transition: all 300ms ease-in-out;
}

html[dir] .ldL67._2i3T7 {
    flex: 0 0 30%;
    max-width: 450px;
}


@media screen and (min-width: 1800px) {
    html[dir] .three ._3sh5K {
        flex: 0 0 calc(100% - 900px);
    }
}

html[dir] .three .ldL67._2i3T7,
html[dir] .three ._1bLj8,
html[dir] .three ._2i3T7,
html[dir] .three ._1bLj8,
.two ._2i3T7 {
    flex: 0 0 25%;
}

html[dir] .three ._3sh5K {
    flex: 0 0 50%;
}

html[dir] .two ._3sh5K {
    flex: 70%;
}

/* side column / status list */

html[dir] ._2HUCB,
html[dir] .hj24v2v0.i9ba79ay.jykept17.p7ivxbd6.o7f2woc0 {
    border-radius: 0 20px 20px 0;
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
    html[dir] body ._2mQtw {
        background: transparent;
    }
}

/* status screen */

html[dir] ._1NZyY._1cMSa {
    opacity: 1;
}

/* side column / chat info */

div[data-testid="drawer-right"] {
    flex: 0 0 0;
    transition: all 300ms ease;
}

html[dir] ._1bLj8 {
    border-radius: 20px 0 0 20px;
    max-width: 450px;
}

html[dir] .epdck8xl {
    border-radius: 50%;
}

/* menu column container */

html[dir=ltr] section[data-testid="group-info-drawer-body"]>div,
section.tvf2evcx.oq44ahr5.lb5m6g5c.s9fl9ege>div {
    border-radius: 20px;
    margin: 10px 10px 0;
    overflow: hidden;
    transition: all ease .3s;
}

html:not([dir='rtl']) .lysxvg3k {
    margin: 0;
}

html[dir] ._1M8UY,
html[dir] ._3pqwA ._3mpG7 {
    margin: 0;
    border: none;
}

/* side column / chat list */

html[dir] div[id="pane-side"] {
    padding: 5px 0 5px 5px;
}

/* .lhggkp7q.ln8gz9je.rx9719la[style*="translateY(0px)"] { */
/*     padding: 5px 0 5px 5px; */
/* } */

div#pane-side>* {
    margin-bottom: 10px;
}

html[dir] div[role="listitem"],
html[dir] div[data-testid="cell-frame-container"],
html[dir] div[data-testid="message-yourself-row"],
html[dir] .os03hap6 {
    border-radius: 10px;
    overflow: hidden;
}

/* border none */

html[dir=ltr] body div#side * {
    border: none !important;
}

/* html[dir=ltr] .lhggkp7q.ln8gz9je.rx9719la { */
/*     border-bottom: 1px solid var(--border-list); */
/* } */

/* scroll bar */

html[dir] .dark ::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* login page */

html[dir] div.landing-window {
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--main-contrast);
    backdrop-filter: blur(1000px);
}

html[dir] .landing-wrapper:before {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    background-color: var(--theme-primary);
}

.landing-wrapper .QtrYx,
.landing-wrapper ._3-XoE {
    color: var(--main-black);
}

html[dir] ._3-soo {
    background: transparent;
}

html[dir] .zMiDB {
    z-index: -10;
}